@font-face {
    font-family: "Akzidenz";
    src: url("https://apollo.rip/static/styles/postmod/images/Akzidenz.otf");
}
@font-face {
    font-family: "Officina";
    src: url("https://apollo.rip/static/styles/postmod/images/Officina.otf");
}
@font-face {
    font-family: "Corpid";
    src: url("https://apollo.rip/static/styles/postmod/images/CorpidOffice.ttf");
}
@font-face {
    font-family: "Avant";
    src: url("https://apollo.rip/static/styles/postmod/images/Avant.otf");
}
* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
}
body {
    background: #000 url("https://apollo.rip/static/styles/postmod/images/wood.jpg") no-repeat fixed 0 0 / cover ;
    color: #eee;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 9pt;
}
.forum_post pre {
    max-height: 500px;
    max-width: 660px;
    overflow: auto;
}
table tbody, .main_column, .sidebar, .box, .thin, .pad, #threadpoll, #poll {
    color: #444;
}
a {
    border: medium none;
    color: #4fd1ff;
    text-decoration: none;
}
a img {
    border: 0 none;
}
table tbody a, .main_column a, .sidebar a, .box a {
    color: #0a84af;
}
table tbody a:hover, .main_column a:hover, .sidebar a:hover, .box a:hover {
    color: #0c9ccf;
}
#header a:hover, .linkbox a:hover {
    text-decoration: underline;
}
a[onclick]:focus {
    background: transparent none repeat scroll 0 0;
    outline: 0 none;
}
a[onclick]:active {
    outline: 0 none;
}
a[onclick^="AddArtistField"]:focus, a[onclick^="AddArtistField"]:active {
    background: transparent none repeat scroll 0 0 !important;
    outline: 0 none;
    padding: 0 !important;
}
.main_column a[href^="http"], .main_column a[href^="https"] {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/external.png") no-repeat scroll 100% 4px;
    padding: 0 10px 0 0;
}
.main_column a[href^="http"]:hover, .main_column a[href^="https"]:hover {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/external.png") no-repeat scroll 100% 4px !important;
    padding: 0 10px 0 0;
}
.forum_post a[href^="http"], .forum_post a[href^="https"] {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/external.png") no-repeat scroll 100% 4px;
    padding: 0 10px 0 0;
}
.forum_post a[href^="http"]:hover, .forum_post a[href^="https"]:hover {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/external.png") no-repeat scroll 100% 4px;
    padding: 0 10px 0 0;
}
.head a[href^="http"]:hover, .head a[href^="https"]:hover, .colhead a[href^="http"]:hover, .colhead a[href^="https"]:hover, .colhead_dark a[href^="http"]:hover, .colhead_dark a[href^="https"]:hover {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/external.png") no-repeat scroll 100% 4px;
    padding: 0 10px 0 0;
}
.forum_post a[href^="http"] img, .forum_post a[href^="https"] img {
    background: transparent none repeat scroll 0 0 !important;
    border: medium none;
    padding: 0;
}
.forum_post a[href^="http"] img:hover, .forum_post a[href^="https"] img:hover {
    background: transparent none repeat scroll 0 0 !important;
    border: medium none;
    padding: 0;
}
h1, h2, h3 {
    color: #dfdfdf;
    font-family: Akzidenz,sans-serif;
    margin: 5px 0;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: underline;
}
.box h1, .box h2, .box h3, .box h4 .box2 h1, .box2 h2, .box2 h3, .box2 h4 {
    color: #000;
}
.size3, .size4, .size5, .size6, .size7 {
    font-family: Akzidenz,sans-serif;
}
li {
    margin: 5px 15px;
}
input {
    padding: 2px 3px;
}
textarea {
    padding: 2px 3px;
}
img {
    border: medium none;
}
span.size1 {
    font-size: 0.75em;
}
span.size2 {
    font-size: 1em;
}
span.size3 {
    font-size: 1.25em;
}
span.size4 {
    font-size: 1.5em;
}
span.size5 {
    font-size: 1.75em;
}
span.size6 {
    font-size: 2em;
}
span.size7 {
    font-size: 2.25em;
}
span.size8 {
    font-size: 2.5em;
}
span.size9 {
    font-size: 2.75em;
}
span.size10 {
    font-size: 3em;
}
ul.thin {
    margin: 0 0 0 25px;
    padding: 0;
}
ul.thin li {
    margin: 0;
    padding: 0;
}
#wrapper {
    padding: 0;
}
#header {
    height: 173px;
    margin: 0 auto;
    padding: 0;
    width: 950px;
}
#content {
    background: transparent url("https://apollo.rip/static/styles/postmod/images/content.png") repeat scroll 0 0;
    border: 1px solid #222;
    color: #dfdfdf;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 22px;
    width: 906px;
}
#alerts {
    background: transparent url("https://apollo.rip/static/styles/postmod/images/content.png") repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin: -19px auto 0;
    padding: 4px 9px;
}
#footer {
    background: transparent url("https://apollo.rip/static/styles/postmod/images/bg_footer.png") repeat scroll 0 0;
    color: #ccc;
    font-size: 8pt;
    margin-top: 40px;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}
#footer::after {
    content: url("https://apollo.rip/static/styles/postmod/images/gazelle.png");
}
#disclaimer_container {
    color: #ccc;
    font-size: 7pt;
}
#logo {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/woodlogo.png") no-repeat scroll left top;
    height: 37px;
    margin: 23px 0 0 11px;
    position: absolute;
    width: 138px;
    z-index: 2;
}
#logo a {
    border: medium none;
    display: block;
    height: 37px;
    width: 138px;
}
#header a:active, #header a:focus, #logo a:hover, #logo a:active, logo a:focus {
    border: medium none;
    outline: medium none;
}
#menu {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11pt;
    height: 38px;
    margin: 30px 0 0 340px;
    padding: 0;
    position: absolute;
}
#menu a {
    color: #fff;
    text-decoration: none;
}
#menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    display: block;
    float: left;
    margin: 5px 8px;
}
#menu ul li a {
    font-family: Akzidenz,sans-serif;
    font-size: 11pt;
    outline: medium none;
    padding: 0 0 2px;
}
#menu ul li a:hover {
    border-bottom: 3px solid #efb34a;
    text-decoration: none;
}
#menu ul li a:active, #menu ul li a:focus {
    border-bottom: 3px solid #efa82c;
}
#index #nav_index a, #torrents #nav_torrents a, #collage #nav_collages a, #requests #nav_requests a, #forums #nav_forums a, #chat #nav_irc a, #top10 #nav_top10 a, #rules #nav_rules a, #wiki #nav_wiki a, #staff #nav_staff a {
    border-bottom: 4px solid #111;
}
#userinfo {
    color: #fff;
    font-size: 8pt;
    position: absolute;
    width: 950px;
}
#userinfo_major {
    margin: 110px 0 0 326px;
    position: absolute;
    text-align: right;
    width: 609px;
}
#userinfo_username {
    margin: 94px 0 0 11px;
    position: absolute;
}
#userinfo_stats {
    margin: 74px 0 0 11px;
    position: absolute;
}
#userinfo_stats a {
}
#userinfo_stats li span {
    color: #fff;
}
#userinfo_minor {
    float: right;
    margin: 70px 0 0 640px;
    position: absolute;
    text-align: right;
    width: 295px;
}
#userinfo_minor li a {
    color: #fff;
}
#userinfo img {
    margin-top: -5px;
}
#userinfo ul {
}
#userinfo ul li {
    display: inline;
    line-height: 20px;
    margin: 0 0.1em;
    padding: 0;
    vertical-align: middle;
}
#userinfo a, #alerts a {
    color: #fff;
}
#userinfo b a {
    font-size: 0.9em;
    font-weight: normal;
}
#searchbars {
    margin: 0 0 0 17px;
    position: absolute;
    top: 132px;
    width: 912px;
}
#searchbars input {
    background: transparent url("https://apollo.rip/static/styles/postmod/images/content_light.png") repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    height: 22px;
    padding: 0 2px 0 10px;
    width: 130px;
}
#autocomplete {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/content.png") repeat scroll 0 0;
    border: 1px solid #eee;
    list-style: outside none none;
}
#searchbars input:active, #searchbars input:focus {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/content.png") repeat scroll 0 0;
    border: 1px solid #eee;
}
#searchbars ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#searchbars ul li {
    display: inline;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding-left: 4px;
    position: relative;
    width: 148px;
}
#searchbars ul li ul {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/content.png") repeat scroll 0 0;
    border: 1px solid #eee;
    display: block;
    left: 0;
    margin-top: 12px;
    position: absolute;
    top: 1em;
    width: 12em;
    z-index: 1000;
}
#searchbars ul li ul li {
    cursor: pointer;
    display: block;
    margin: 1px 0 1px 4px;
    padding: 0;
    width: 100%;
}
#searchbars ul li ul li.highlight {
    color: #4fd1ff;
}
#searchbars ul li form {
    display: inline;
    margin: 0;
}
#alerts {
    color: #fff;
    margin: 65px 0 0 338px;
    position: absolute;
    text-align: center;
    width: 230px;
}
#cat-selector ul {
    width: 100%;
}
#cat-selector ul li {
    display: inline;
    float: left;
    height: 1em;
    width: 12em;
}
#debug_report pre {
    overflow: auto;
    width: 890px;
}
td.cats_col, td.center.cats_col {
    border-right: medium none;
}
table.grouping > tbody > tr.torrent > td:first-child + td + td, table.no_grouping > tbody > tr.torrent > td:first-child + td, table.grouping > tbody > tr.group > td:first-child + td + td, table.grouping > tbody > tr.colhead > td:first-child + td + td, table.no_grouping > tbody > tr.group > td:first-child + td, table.no_grouping > tbody > tr.colhead > td:first-child + td {
    border-left: medium none;
}
.last_read {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/go_last_read.png") no-repeat scroll center center;
    height: 15px;
    margin-left: 5px;
    width: 15px;
}
.last_read a {
    border: medium none;
    display: block;
    height: 100%;
    width: 100%;
}
.last_read a:hover {
    border: medium none;
}
.last_read a:active, .last_read a:focus {
    outline: 0 none;
}
.hidden {
    left: -10000px;
    position: absolute;
}
input.hidden {
    display: none;
    position: absolute;
}
.thin {
    color: #dfdfdf;
    margin: 0 auto;
    width: 850px;
}
.linkbox {
    color: #fcfcfc;
    padding: 5px;
    text-align: center;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.min_padding {
    margin: 0;
    padding: 0;
}
p.min_padding {
    margin: 2px 0;
}
.pad {
    padding: 1em;
}
.sidebar .pad {
    padding: 10px;
}
.vertical_space {
    margin-bottom: 10px;
}
.box {
    background-color: #f7f6f2;
    font-size: 10pt;
    margin-bottom: 10px;
}
.box2 {
    background-color: #f7f6f2;
    font-size: 10pt;
    margin-bottom: 10px;
}
.pad h3, .pad h4, .padbox h3, .padbox h4 {
    margin-top: 0;
    padding-top: 0;
}
.sidebar {
    float: right;
    width: 245px;
}
.body {
    padding: 3px 10px 10px;
}
.main_column {
    width: 592px;
}
.main_column table {
    margin-bottom: 10px;
}
.main_column .box .body {
    font-size: 8pt;
}
.tags {
    font-style: italic;
    padding: 0 0 0 20px;
}
.tags a {
    color: #8d957e;
}
.tags a:hover {
    color: #444;
}
.noborder {
    border: medium none;
}
ul.nobullet {
    list-style-type: none;
}
table {
    border: medium none;
    border-collapse: collapse;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    width: 100%;
}
tr {
    background-color: #fbfaf8;
    border: medium none;
}
tr.rowa {
    background-color: #f0f0f0;
}
tr.rowb {
    background-color: #ffffff;
}
td, th {
    border: medium none;
    padding: 5px;
    text-align: left;
}
.colhead, .colhead_dark, .head {
    background: #000 url("https://apollo.rip/static/styles/postmod/images/table_header_dark.png") repeat-x scroll 0 0;
    border-bottom: 1px solid #000;
    color: #fbfcfd;
    padding: 4px;
}
.colhead a, .colhead_dark a, .head a {
    color: #fbfcfd;
}
.colhead_dark a img:active, .colhead_dark a img:focus {
    outline: 0 none;
}
td.colhead, .colhead td, .colhead th {
    padding-left: 10px;
    padding-right: 10px;
}
.colhead .sign, .colhead_dark .sign {
    font-size: 12pt;
    padding: 0 8px;
    text-align: center;
    vertical-align: middle;
}
td.label {
    text-align: right;
    width: 180px;
}
table.slice {
    margin-top: -1px;
}
tr.peer_list {
    font-size: 8pt;
}
tr.peer_list td {
    padding: 2px 0 2px 2px;
}
.error_message {
    background-color: #af2525;
    border: 1px solid #666;
    color: white;
    padding: 3px 0;
    text-align: center;
}
.save_message {
    background-color: #f4e649;
    border: 1px solid #666;
    color: #492802;
    padding: 3px 0;
    text-align: center;
}
.elem_error {
    border: 3px solid #b00d0d;
}
.hide {
    display: none;
}
ul.stats li {
    font-size: 8pt;
    padding: 0 0 1px;
}
ul.poll li {
    clear: left;
    margin: 0;
    padding: 0 0 0 10px;
}
ul.poll li.graph {
    margin-bottom: 3px;
    padding-left: 20px;
}
.show_torrents {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/show.png") no-repeat scroll center center;
    height: 28px;
    opacity: 0.5;
    width: 28px;
}
.hide_torrents {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/hide.png") no-repeat scroll center center;
    height: 28px;
    opacity: 0.5;
    width: 28px;
}
.show_torrents_link {
    border: medium none;
    display: block;
    height: 28px;
    width: 28px;
}
.torrent_table a:active img, .torrent_table a:focus img {
    background-color: transparent !important;
}
.filter_torrents {
    margin: auto;
    width: 750px;
}
.filter_torrents .submit {
    padding-top: 5px;
    text-align: right;
}
#content form.search_form + .torrent_table {
    margin-top: 20px;
}
.cat_list tr td {
    border: medium none;
}
.torrent_table tr {
    vertical-align: top;
}
.torrent_table tr.group {
    background-color: #efefef;
}
.torrent_table tr.group_torrent {
    background-color: #fbfaf8;
    border-bottom: 1px solid #efefef;
}
tr.group_torrent td, tr.group td, tr.torrent td {
    color: #646054;
}
.torrent_table.grouping tr.torrent, .torrent_table.no_grouping tr.torrent {
    background-color: #efefef;
}
.torrent_table div.tags {
    font-weight: normal;
}
.torrent_table tr .center {
    text-align: center;
    vertical-align: middle;
}
.group_torrent span {
    float: right;
}
.torrent span {
    float: right;
    font-weight: normal;
}
.nobr {
    white-space: nowrap;
}
.unread_locked_sticky {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/locked_sticky_unread.png") no-repeat scroll center center;
}
.read_locked_sticky {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/locked_sticky_read.png") no-repeat scroll center center;
}
.read_sticky {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/sticky_read.png") no-repeat scroll center center;
}
.unread_sticky {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/sticky_unread.png") no-repeat scroll center center;
}
.unread_locked {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/locked_unread.png") no-repeat scroll center center;
}
.read_locked {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/locked_read.png") no-repeat scroll center center;
}
.unread {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/unread.png") no-repeat scroll center center;
}
.read {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/read.png") no-repeat scroll center center;
}
table.forum_post {
    margin: 10px 0;
}
table.forum_post td {
    border: 1px solid #666;
}
table.forum_unread {
    border: 2px solid #ea5600;
}
td.avatar {
    padding: 0;
    width: 150px;
}
table.forum_post td.body {
    width: 690px;
}
#quickreplypreview .forum_post {
    padding: 5px;
}
strong.quoteheader {
    color: #444;
}
blockquote {
    background: #ececec none repeat scroll 0 0;
    border: 1px dashed #666;
    margin: 10px;
    padding: 10px;
}
tr.unreadpm {
    background-color: #e0ebef;
}
.collage_images li {
    background-color: #f7f6f2;
    vertical-align: middle;
}
.permission_head {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.permissions {
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}
.permission_container {
    float: left;
    padding: 5px;
    width: 300px;
}
.permission_container input {
    margin: 0 3px 5px 0;
    vertical-align: top;
}
.submit_container {
    clear: both;
    text-align: right;
}
ul .invitetree {
    margin: 0 0 0 25px;
}
.invitetree li {
    list-style: outside none none;
    margin: 10px 2px;
}
.head a:hover, .colhead a:hover, .colhead_dark a:hover, .head a:focus, .colhead a:focus, .colhead_dark a:focus {
    background: transparent none repeat scroll 0 0 !important;
    outline: 0 none;
}
.user_options .options_list li {
    margin: 0;
}
.poll {
    list-style: outside none none;
    margin: 5px;
    padding: 10px;
}
.poll li {
    clear: both;
}
.poll .graph {
    padding: 0 0 15px;
}
.poll .graph span {
    display: block;
    float: left;
    height: 19px;
}
.poll .graph .left_poll {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/poll_left.png") no-repeat scroll left top;
    width: 9px;
}
.poll .graph .center_poll {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/poll_middle.png") repeat-x scroll left top;
}
.poll .graph .right_poll {
    background: rgba(0, 0, 0, 0) url("https://apollo.rip/static/styles/postmod/images/poll_right.png") no-repeat scroll left top;
    width: 11px;
}
.curtain {
    background: #111 none no-repeat fixed 50% 0;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.lightbox {
    height: 90%;
    left: 5%;
    overflow: auto;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 5%;
    width: 90%;
    z-index: 1002;
}
.lightbox img {
    background-color: transparent;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
}
input[type="button"], input[type="submit"] {
    background: #111 url("https://apollo.rip/static/styles/postmod/images/alert-overlay.png") repeat-x scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    padding: 3px 6px 4px;
    text-decoration: none;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}
input[type="button"]:active, input[type="submit"]:active {
    top: 1px;
}
input[type="button"]:active, input[type="button"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    padding: 3px 6px 4px;
    text-decoration: none;
}
input[type="text"], input[type="email"], input[type="password"], input[type="search"] {
    background: #111 url("https://apollo.rip/static/styles/postmod/images/alert-overlay.png") repeat-x scroll 0 0;
    border-color: #777 #333 #333 #777;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="search"]:hover, input[type="search"]:focus, input[type="password"]:hover, input[type="password"]:focus {
    background-color: #000;
    color: #fff;
}
input[type="text"]:active, input[type="email"]:active, input[type="search"]:active, input[type="password"]:active {
    top: 1px;
}
input[disabled="disabled"] {
    background: #4f4f4f url("https://apollo.rip/static/styles/postmod/images/alert-overlay.png") repeat-x scroll 0 0;
    color: #dfdfdf;
}
input[disabled="disabled"]:hover, input[disabled="disabled"]:focus, input[disabled="disabled"]:active {
    background-color: #4f4f4f;
    color: #dfdfdf;
}
select[disabled="disabled"] {
    background: #4f4f4f none repeat scroll 0 0;
    color: #dfdfdf;
}
select[disabled="disabled"]:hover, select[disabled="disabled"]:focus, select[disabled="disabled"]:active {
    background-color: #4f4f4f;
    color: #dfdfdf;
}
select, select:active, select:focus {
    background: #111 none repeat-x scroll 0 0;
    border: 0 none;
    color: #fff;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    margin: 3px;
    text-decoration: none;
}
option, option:active, option:focus {
    background: #111 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 1px;
    text-decoration: none;
}
select:hover, option:hover {
    background: #3f3f3f none repeat scroll 0 0;
}
#logchecker .thin, #logchecker h3, .log_outer, .log_outer h3 {
    color: #444;
}
.spellcheck {
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px 0;
}
ul, ol {
    list-style-position: inside;
}
tr.torrent .bookmark > a::before {
    color: #646054;
}
tr.torrent .bookmark > a::after {
    color: #646054;
}
#requests .forum_post textarea {
    max-width: 409px;
}
.linkbox .brackets::before, .linkbox .brackets::after, .top10_quantity_links .brackets::before, .top10_quantity_links .brackets::after {
    color: #fcfcfc;
}
#userinfo_username .brackets::before {
    content: "[";
}
#userinfo_username .brackets::after {
    content: "]";
}
.field_div {
    margin-bottom: 10px;
}
.edit_changelog textarea {
    width: 600px;
}
.autocomplete-suggestions {
    background: #111 none repeat scroll 0 0;
}
.autocomplete-selected {
    background: #444 none repeat scroll 0 0;
}
div[class~="tooltipster-base"] {
    background-color: #ececec;
    color: #444;
}
div[class~="tooltipster-content"] > a {
    color: #0a84af;
}
#settings_sections #submit, #settings_sections #settings_search {
    margin: 3px 0;
}
.vote_tag_up, .vote_artist_up, .vote_album_up, .small_upvote, .small_upvoted {
    color: green;
}
.vote_tag_down, .vote_artist_down, .vote_album_down, .small_downvote, .small_downvoted {
    color: red;
}
div.sidebar #event_div {
    margin-left: -50px;
}
.sidebar img {
    max-width: 225px;
}
.news_post img, .wiki_article img {
    max-width: 565px;
}
#reportsv2 .manage_form img {
    max-width: 622px;
}
input[type="search"] {
    font-size: 13px;
}

#logo {
  background-image: url("https://www.google.com/a/timothyae.com/images/logo.gif");
  background-size: 100% 100%;
}
