<style>
                          .adsbygoogle.large_rectangle_336x280 {width: 336px; height: 280px;}
@media(min-width: 728px) {.adsbygoogle.large_rectangle_336x280 {display: none;}}
                          .adsbygoogle.leaderboard_728x90      {display: none;}
@media(min-width: 728px) {.adsbygoogle.leaderboard_728x90      {width: 728px; height: 90px;}}
</style>

<div class="ad">
  <!-- header -->
  <ins class="adsbygoogle leaderboard_728x90"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-2377540805505375"
       data-ad-slot="7175068704"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- Large Rectangle -->
  <ins class="adsbygoogle large_rectangle_336x280"
       style="display:inline-block;width:336px;height:280px"
       data-ad-client="ca-pub-2377540805505375"
       data-ad-slot="1431102644"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
