<style>
.resp { width: 320px; height: 50px; }
@media(min-width: 500px) { .resp { width: 468px; height: 60px; } }
@media(min-width: 800px) { .resp { width: 728px; height: 90px; } }
</style>

<div class="ad ad-footer">
  <!-- Responsive image -->
  <ins class="adsbygoogle resp"
       style="display:block"
       data-ad-client="ca-pub-2377540805505375"
       data-ad-slot="7461448081"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
