<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2377540805505375"
     crossorigin="anonymous"></script>
<!-- 2021 Horizontal (before comments) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2377540805505375"
     data-ad-slot="8195256730"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{%- if site.footer_content -%}
  {% include disqus.html %}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}
