@import "mixins";
@import "fontawesome/font-awesome";

#logo {
  background-image: url("https://www.google.com/a/timothyae.com/images/logo.gif");
  background-size: 100% 100%;
  // background-image: none;
  // @include iconize("angle-right");
}

#alerts {
  display: none;
}

#userinfo_stats {
  #stats_seeding {
    .tooltip {
      font-size: 0;
    }

    .tooltip:after {
      font-size: 10.6px;
      content: "125.03 GB";
    }
  }

  #stats_leeching {
  
  }
}
