.full-width {
  width: 100%;
}

body {
  @extend .full-width;
  margin: 0;
}

.main,
.main .row {
  @extend .full-width;
}

.region-top {
  @include display-flex();
  @include flex("align-items", "center");
  background-color: $color--black;
  height: 75px;
}

.region-top-inner,
.region-content-inner {
  width: auto;
  margin: 0 auto;
  padding: 0 25px;
}

.region-top-inner {
  @include display-flex();
  @include flex("justify-content", "space-between");
  width: 100%;
}

.site-name,
.site-name a {
  color: #fff;
  font-weight: 100;
}

.region-navigation {
  @include display-flex();
  @include flex("align-items", "center");
}

#toggle-navigation {
  @include iconize("bars");
  color: #fff;
  font-size: 30px;
}

.region-content-inner {
  @include display-flex();
  @include flex("justify-content", "space-between");
}

.region-content-main {
  margin-right: 25px;
  width: 60%;
}

.region-content-sidebar {
  width: 40%;
  min-width: 300px;
}
