* {
  margin: 0;
  padding: 0;
  font-family: $font--primary;
  width: auto;
  text-decoration: none;
}

.region-top a:hover {
  color: red !important;
}

.ad {
  width: 100%;
  @include display-flex();
  @include flex("justify-content", "center");
  @include flex("align-items", "center");
  padding-top: 10px;
  padding-bottom: 10px;
}

.ad-header {
}

h2,
h2 a {
  color: $color--primary;
  // font-size: 32px;
  // font-weight: 100;
  // letter-spacing: -1px;
}
