/*
 * Customization Variables.
 */
$accent: #FF0F00;
$image-size: 85px;

/*
 * Build Variables, don't touch.
 */
$max-width: 700px;
$med-width: 600px;
$small-width: 480px;

$large: 1200px;
$xlarge: 1200px;

$screen: "only screen";
$large-up: "#{$screen} and (min-width: 960px)";
$xlarge-up: "#{$screen} and (min-width: 1200px)";
