/**
 * Front header.
 */

.front {
  .region-content-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @media #{$large-up} {
      // margin-top: 0;
    }

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 1333.5px;
      height: 750px;
    }

    > .video_captions,
    > .video_cover {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    > .video_captions {
      @include display-flex();
      @include flex("flex-wrap", "wrap");
      @include flex("justify-content", "center");
      @include flex("align-items", "center");
    }

    > .video_captions h2,
    > .video_captions h3 {
      @include display-flex();
      @include flex("justify-content", "center");

      color: rgba(#fff, 0.75);
      font-size: 512%;
      text-transform: uppercase;
      font-weight: 100;
      text-align: center;
    }

    > .video_captions h2 {
      // color: rgba($color--primary, 0.75);
    }

    > .video_captions h3 {
      font-size: 412%;
      // color: rgba(#fff, 0.75);
    }

    > .video_cover {
      content: "";
      // background-color: rgba(#b8babc, 0.2);
    }
  }

  .region-top {
    @media #{$large-up} {
      // background-color: rgba($color--black, 0.50) !important;
    }
  }

  .region-content {
    margin-top: 5px !important;
  }
}
