#navigation {
  i.fa {
    width: auto;
    margin-right: 5px;
  }

  .sidebar-region-top {
    @include display-flex();
    @include flex("align-items", "center");

    background-color: $color--black;
    height: 75px;
    box-shadow: 0 2px 15px $color--black;
  }

  .sidebar-menu {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
  }

  .menu-primary {
    margin-top: 25px;
  }
}

.front .yt-controls {
  margin-right: 20px;
  display: flex;

  li {
    @include display-flex("!important");
    @include flex("align-items", "center");

    margin-right: 5px;
  }

  .play,
  .volume {
    color: #fff;
    width: 28px;
    cursor: pointer;

    &:hover {
      width: 28px;
      color: $color--primary;
    }

    &:before {
      display: block;
      font-size: 30px;
      width: 28px;
    }
  }

  .play {
    &.pause {
      @include iconize("pause");
    }

    &:not(.pause) {
      @include iconize("play");
    }

    &:before {
      font-size: 25px;
    }
  }

  .volume {
    &.mute {
      @include iconize("volume-off");
    }

    &:not(.mute) {
      @include iconize("volume-up");
    }
  }
}
