#navigation {
  i.fa {
    width: auto;
    margin-right: 5px;
  }

  .sidebar-region-top {
    @include display-flex();
    @include flex("align-items", "center");

    background-color: $color--black;
    height: 75px;
    box-shadow: 0 2px 15px $color--black;
  }

  .sidebar-menu {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
  }

  .menu-parimary {
    margin-top: 25px;
  }
}
