---
layout: default
---
<p class="label" style="width: 100%; margin: 0; padding: 10px 20px; border-radius: 0; background-color: #ff7b3a; background-image: repeating-linear-gradient(-25deg,#ff7b3a,#ff7b3a 1em,#fd935f 1em,#fd935f 2em);">
  Information in the following pages are outdated. Notes, tutorials, steps, and opinions may have changed, and may no longer be relevant. This is for historical purposes only.
</p>

<h1>Archive :: {{ page.title }}</h1>

<div class="ad-sidebar-left">
  {% include ad_sq.html %}
</div>

{{ content }}
