---
layout: default
---
<p class="label" style="width: 100%; margin: 0; padding: 10px 20px; border-radius: 0; background-color: #ff7b3a; background-image: repeating-linear-gradient(-25deg,#ff7b3a,#ff7b3a 1em,#fd935f 1em,#fd935f 2em);">
  Information in this page is outdated. Last update was made on {{ page.date | date_to_long_string }}.
</p>

<h1>{{ page.title }}</h1>

<style>
.ad-sidebar-left {
  float: right;
  width: 50%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.ad-sidebar-left + h2 {
  float: left;
  width: 48%;
}

.ad-sidebar-left + #markdown-toc {
  float: left;
  width: auto;
  width: 48%;
  clear: left;
} 

.ad-sidebar-left + h2 + #markdown-toc {
  float: left;
  width: auto;
  width: 48%;
  clear: left;
}

.ad-sidebar-left + #markdown-toc + * {
  clear: both;
}

.ad-sidebar-left + h2 + #markdown-toc + * {
  clear: both;
}

.ad-sidebar-left +  h2 + #markdown-toc a {
  white-space: normal;
}

.ad-sidebar-left + h2 + ul a {
  white-space: normal;
}
</style>

<div class="ad-sidebar-left">
  {% include ad_sq.html %}
</div>

{{ content }}
