<!DOCTYPE html>
<html lang="en">

  <head>
    {% include regions/header.html %}
  </head>

  <body class="front content-type-default">
    <div class="main">

      <div class="row region-top">
        <div class="region-top-inner">
          <h1 class="site-name"><a href="/">{{ site.title }}</a></h1>
          <div class="header-links">
            {% include components/ads/link-ad-responsive.html %}
          </div>
          <div class="region-navigation">
            <ul class="yt-controls">
              <li class="play"></li>
              <li class="volume"></li>
            </ul>
            <a id="toggle-navigation" href="#navigation"></a>
          </div>
        </div>
      </div>

      {% include components/front-header.html %}

      <div class="row region-content">
        <div class="region-content-inner">
          <div class="region-content-main">
            {% include types/default.html %}
          </div>
          <div class="region-content-sidebar">
            {% include components/ads/large-rectangle.html %}
            <h2>Recent comments</h2>
            <hr />
            <div id="disqus-recent-comments"></div>
          </div>
        </div>
      </div>
    </div>

    {% include regions/footer.html %}
    {% include regions/navigation.html %}
  </body>

</html>
